rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Rules for bike images
    match /bikes/{fileName} {
      // Allow writes (uploads) only for authenticated users.
      // We also check that the uploaded file is an image and not too large.
      allow write: if request.auth != null && 
                      request.resource.size < 5 * 1024 * 1024 &&
                      request.resource.contentType.matches('image/.*');

      // Allow anyone to read the bike images.
      allow read: if true;
    }
  }
}
